.advertisement {
  padding-top: 111px;
  padding-bottom: 137px;
  button {
    display: flex;
    margin: 99px auto auto;
  }
  &__cards {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
  }
  &__card {
    max-width: 359px;

    div:last-child {
      margin-bottom: 10px; //почему не работает
    }
    div {
      display: flex;
      align-items: center;
      margin-bottom: 28px;
    }

    h2 {
      color: #FFF8F8;
      max-width: 221px;
      font-size: 35px;
      font-style: normal;
      font-weight: 600;
      line-height: 88.567%;
    }

    p {
      color: #FFF8F8;
      font-size: var(--font-size-18);
      font-style: normal;
      font-weight: 400;
      line-height: 178.567%; /* 32.142px */
    }
  }
  &__list {
    margin-top: 30px;
    ol {
      list-style-type: none;
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      p {
        padding-left: 58px;
      }
      &:last-child {
        p {
          padding-left: 98px;
        }
      }
    }
    span {
      color: #FFF8F8;
      font-size: var(--font-size-25);
      font-style: normal;
      font-weight: 600;
      line-height: 88.567%; /* 22.142px */
      & span {
        color: #F00;
        text-align: center;
        font-size: 55.641px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding-right: 21px;
      }
    }
    p {
      max-width: 592px;
      color: #FFF8F8;
      font-size: var(--font-size-18);
      font-style: normal;
      font-weight: 400;
      line-height: 158.567%; /* 28.542px */
    }
  }
  &__guarantors {
    margin-top:129px;
  }
}
@media screen and (max-width:1253px) {
  .advertisement {
    &__cards {
      flex-wrap: wrap;
      row-gap: 35px;
    }
    &__guarantors{
      margin-top: 105px;
    }
    &__list {
      p {
        font-size: var(--font-size-16);
      }
      span {
        display: flex;
        align-items: center;
        span {
          font-size: 55.641px;
          padding-right: 17px;
        }
      }
    }
    &__card {
      max-width: 319px;
      div {
        margin-bottom: 22px;
      }
      p {
        font-size: var(--font-size-16);
      }
      h2 {
        font-size: 30px;
      }
    }
  }
}
@media screen and (max-width: 615px) {
  .advertisement {
    padding-top: 61px;
    padding-bottom: 103px;
    button {
      margin-top: 50px;
    }
    &__list {
      span {
        font-size: 24px;
        span {
          font-size: 45px;
        }
      }
      li {
        flex-wrap: wrap;
        margin-bottom: 30px;
        &:last-child {
          p {
            padding: 0;
          }
        }
        p {
          padding: 0;
        }
      }
    }
    &__guarantors {
      margin-top: 81px;
    }
    h1 {
      font-size: 33px;
    }
    &__cards {
      margin-top: 33px;
      row-gap: 30px;
    }
    &__card {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
      div {
        margin-bottom: 7px;
      }
    }
  }
}