.button-red {
  color: var(--primaty-color);
  padding: 19px 53px;
  background: #F00;
  border: none;
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  cursor: pointer;
  &:hover {
    background: #b70909;
  }
  &:active {
    background: #a10f0f;
  }
}
@media screen and (max-width: 1253px) {
  .button-red {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 615px) {
  .button-red {
    padding: 15px 45px;
    font-size: 15px;
    margin: auto;
  }
}