.cards {
  display: flex;
  gap: 22px;
  margin-top: 98px;
  margin-bottom: 101px;
  //animation-duration: 1s;
  //animation-name: slidein;
  &__card {
    &--last {
      display: none;
    }
    max-width: 379px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF8F8;
    padding: 50px 50px 64px 41px;
    span {
      color: var(--secondary-color);
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 44.3px;
    }
    p {
      margin-top: 40px;
      color: var(--3A3A3A-color);
      font-size: var(--font-size-16);
      font-style: normal;
      font-weight: 400;
      line-height: 30.4px;
      margin-bottom: 46px;
    }
    button {
      background: none;
      color: #050505;
      cursor: pointer;
      font-family: "Tenor Sans", sans-serif;
      border: 1px solid #1D1C1C;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 19px 90px;
      letter-spacing: 0.75px;
      &:hover {
        background: #efefef;
      }
      &:active {
        background:#c9c6c6 ;
      }
    }
  }
}
//@keyframes slidein {
//  0% {
//    opacity: 0;
//    margin-left: -200px;
//  }
//  100% {
//    opacity: 1;
//    margin-left: 0;
//  }
//}
@media screen and (max-width: 1253px) {
  .cards {
    flex-wrap: wrap;
    &__card {
      &--last {
        display: flex;
      }
      padding: 47px 9px 65px 36px;
      max-width: 334px;
      p {
        font-size: var(--font-size-16);
      }
      span {
        font-size: 43px;
      }
    }
  }
}
@media screen and (max-width: 615px) {
  .cards {
    margin-top: 15px;
    margin-bottom: 33px;
    &__card {
      max-width: 295px;
      padding: 45px 21px 52px 19px;
      &--last {
        display: none;
      }
      span {
        font-size: 38.918px;
      }
      p {
        font-size: var(--font-size-16);
      }
      button {
        font-size: var(--font-size-16);
        padding: 15px 60px;
      }
    }
  }
}