.cards {
  display: flex;
  gap: 22px;
  margin-top: 98px;
  margin-bottom: 101px;
  //animation-duration: 1s;
  //animation-name: slidein;
  &__card {
    max-width: 379px;
    background: #FFF8F8;
    padding: 50px 50px 64px 41px;
    span {
      color: #000;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 44.3px;
    }
    p {
      margin-top: 40px;
      color: #3A3A3A;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30.4px;
      margin-bottom: 46px;
    }
    button {
      background: none;
      color: #050505;
      cursor: pointer;
      font-family: "Tenor Sans", sans-serif;
      border: 1px solid #1D1C1C;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 19px 90px;
      letter-spacing: 0.75px;
      &:hover {
        background: #efefef;
      }
      &:active {
        background:#c9c6c6 ;
      }
    }
  }
}
//@keyframes slidein {
//  0% {
//    opacity: 0;
//    margin-left: -200px;
//  }
//  100% {
//    opacity: 1;
//    margin-left: 0;
//  }
//}