.computation {
  margin-top: 76px;
  &__input {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 147.187%;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    max-width: 375px;
    width:100% ;
    padding: 10px;
    margin-top: 44px;
    margin-bottom:75px ;
  }
  &__get {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 29.641px;
    height: 29.641px;
    background-color: #fff;
    border: 0.847px solid #000;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  &__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .computation__checkmark:after {
      left: 9px;
      top: 4px;
      width: 8px;
      height: 13px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:hover input ~ .computation__checkmark {
      background-color: #ccc;
    }
    & input {
      display: none;
      &:checked ~ .computation__checkmark {
        background-color: #F00;
        border: none;
        &:after {
          display: block;
        }
      }
    }
  }
  h1 {
    color: #000;
    margin-bottom: 27px;
  }
  &__answer {
    background: #FEFEFE;
    max-width: 403px;
    width: 100%;
    padding: 20px 14px 20px 20px;
    display: flex;
    gap: 20px;
    p{
      text-align: left;
      color:  #3A3A3A;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 137.188%; /* 21.95px */
    }
  }
  &__answers {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 21px;
    margin-bottom: 59px;
    justify-content: center;
  }
  &__question {
    background: #FFF8F8;
    margin-top: 55px;
    margin-bottom:202px ;
    padding: 38px 76px 76px;
    text-align: center;
    &--none {
      display: none;
    }
    h2 {
      color: #000;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: 147.187%; /* 51.516px */
    }
    span {
      color:  #3A3A3A;
      font-family: 'Tenor Sans', 'sans-serif';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        font-size: 13.55px;
      }
    }
  }
  > p {
    color: #3A3A3A;
    font-size: 16px;
    max-width: 699px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
    span {
      color: #000;
      font-weight: 600;
    }
  }
}
@media screen and (max-width: 768px) {
  .computation {
    &__question {
      padding: 30px 11px 41px 9px;
      h2 {
        font-size: 22px;
      }
      span {
        font-size: 14.528px;
        span {
          font-size: 9.843px;
        }
      }
    }
    &__answers {
      row-gap: 26px;
      column-gap: 9px;
    }
    &__answer {
      padding:15px 19px 14px 14px;
      max-width: 330px;
    }
  }
}
@media screen and (max-width: 320px) {
  .computation{
    margin-top: 45px;
    &__question {
      margin-bottom: 63px;
      margin-top: 38px;
      h2 {
        text-align: left;
      }
    }
    &__get {
      h2 {
        font-size: 16px;
        text-align: center;
      }
      button{
        padding: 19px 40px;
        font-size: 14px;
      }
    }
    &__answers {
      row-gap: 16px;
      margin-bottom: 36px;
    }
    &__answer {
      padding: 18px 0 18px 12px;
      gap: 8px;
      p {
        font-size: 14px;
      }
    }
  }
}