.container {
  max-width: 1186px;
  margin: auto;
}
@media screen and (max-width: 1253px) {
  .container{
    max-width: 695px;
  }
}
@media screen and (max-width: 615px) {
  .container {
    max-width: 295px;
  }
}