.facilities {
  margin-top: 81px;
  margin-bottom: 255px;

  &__info {
    h1 {
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 88.567%; /* 44.283px */
      color: var(--secondary-color);
    }

    p {
      margin-top: 37px;
      margin-bottom: 37px;
      max-width: 835px;
      color: #645D5D;
      font-size: var(--font-size-16);
      font-style: normal;
      font-weight: 400;
      line-height: 170%; /* 27.2px */
    }
  }

  &__order {
    margin-top: 97px;

    h3 {
      color: var(--secondary-color);
      font-size: var(--font-size-25);
      font-style: normal;
      font-weight: 600;
      line-height: 188.567%; /* 47.142px */
    }

    form {
      margin-top: 38px;
      display: flex;
      justify-content: space-between;
      max-width: 867px;
    }

    input {
      color: var(--secondary-color);
      max-width: 275px;
      width: 100%;
      font-family: 'Roboto', 'sans-serif';
      font-size: var(--font-size-16);
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      border: none;
      border-bottom: 1px solid var(--secondary-color);;
    }
  }
}

@media screen and (max-width: 615px) {
  .facilities {
    &__info {
      img {
        max-width: 583px;
      }
    }

    &__order {
      input {
        max-width: 188px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .facilities {
    margin-top: 60px;
    margin-bottom: 93px;
    &__info {
      h1 {
        font-size: var(--font-size-25);
      }
      p {
        font-size: 15px;
        margin-top: 16px;
        margin-bottom: 25px;
      }
      img {
        max-width: 295px;
      }
    }
    &__order {
      margin-top: 45px;
      h3 {
        font-size: var(--font-size-18);
        text-align: center;
      }
      form {
        flex-direction: column;
        align-items: center;
        gap: 37px;
        input {
          padding-bottom: 7px;
        }
      }
    }
  }
}