.privacy {
  margin-top: 81px;
  margin-bottom: 99px;
  h1 {
    color: var(--secondary-color);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 88.567%; /* 44.283px */
    margin-bottom: 39px;
  }
  ol {
    list-style: none;
    counter-reset: li;
  }
  li:before {
    counter-increment: li;
    content: counters(li,".") ". ";
  }
   li {
     color: var(--secondary-color);
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 157.187%; /* 22.006px */
   }
}