.work-progress {
  margin-top: 103px;
  button {
    display: flex;
    padding: 19px 123px;
    margin: 137px auto auto;
  }
  &__card {
    max-width: 545px;
    &--1{
      img {
        margin-top: -86px;
      }
    }
    &--2 {
      img {
        margin-top: -147px;
      }
    }
    &--3 {
      img {
        margin-top: -64px;
      }
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 80px;
    &--2 {
      margin-top:109px;
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    color: #000;
    font-size: 35.912px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      color: #858585;
      font-size: 174.14px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }
  h1 {
    color: #050505;
    margin-bottom: 40px;
  }
}