.work-progress {
  margin-top: 103px;
  margin-bottom: 168px;
  button {
    display: flex;
    padding: 19px 123px;
    margin: 137px auto auto;
  }
  &__card {
    max-width: 545px;
    &--1{
      img {
        margin-top: -86px;
      }
    }
    &--2 {
      img {
        margin-top: -147px;
      }
    }
    &--3 {
      img {
        margin-top: -64px;
      }
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 80px;
    &--2 {
      margin-top:109px;
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    color: #000;
    font-size: 35.912px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      color: #858585;
      font-size: 174.14px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }
  h1 {
    color: #050505;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1253px) {
  .work-progress {
    margin-bottom: 90px;
    button {
      padding: 15px 50px;
      margin-top: 63px;
    }
    &__card {
      &--2 {
        img {
          margin-top: -18px;
        }
      }
      &--1 {
        img {
          margin-top: -37px;
        }
      }
      &--3 {
        img {
          margin-top: -26px;
        }
      }
      img {
        max-width: 274px;
      }
    }
    h2 {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      span {
        font-size: 91.791px;
      }
    }
  }
}
@media screen and (max-width: 615px) {
  .work-progress {
    .work-progress__column {
      .work-progress__card--3 {
        display: none;
      }
    }

    &__card {
      display: none;
      &:first-child {
        display: block;
      }
      &--3 {

      }
    }
    h2 {
      font-size: 16px;
      span {
        font-size: 65px;
      }
    }
  }
}